absl-py==2.1.0
astunparse==1.6.3
attrs==19.1.0
autograd-gamma==0.5.0
beautifulsoup4==4.7.1
cachetools==5.3.3
colorama==0.4.6
ecos==2.0.14
filelock==3.12.2
gast==0.3.3
google-auth==2.28.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.1
h5py==2.10.0
importlib-resources==5.12.0
jsonschema==4.17.3
lifelines==0.25.5
matplotlib==3.5.3
numpy==1.18.5
oauthlib==3.2.2
opt-einsum==3.3.0
osqp==0.6.7.post0
patsy==0.5.6
ray==0.8.4
redis==5.0.0
requests-oauthlib==1.4.0
rsa==4.9
scikit-learn==1.0.2
scikit-survival==0.17.2
scipy==1.4.1
six==1.16.0
soupsieve==2.4.1
tensorboard==2.11.2
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==2.3.0
theano==1.0.5
typing-extensions==4.7.1
wrapt==1.16.0
rpy2==2.8.6
